<style>
h1 {
  margin-bottom: 15px;
  font-size: 175%;
  text-align: center;
}

div#container {
  background-color: #00FFFF;
  float: left;
  border: 5px solid white;
  margin-bottom: 20px;

}
p {
  font-family: Helvetica;
  color: black;
  font-size: 125%;

  
}
#p1 {
  background-color: #A52A2A;
    width: 150px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  color: black;
  text-decoration: underline black;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  float: right;


}
#p2 {
  background-color: #DEB887;  width: 150px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  color: black;
  text-decoration: underline black;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  float: right;

 
}
#p3 {
  background-color: #5F9EA0;   width: 150px;
  height: 35px;
  border: 1px solid black;
  text-align: center;
  color: black;
  text-decoration: underline black;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  position: relative;
  float: right;

  

}

#p4 {
  color: red;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  clear: both;
  text-align: center;
  background-color: #00FFFF; 
  border: 1px solid #00FFFF;
}
</style>